<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460342470540-7t87r3nfljabih6lo6ibtam893hlpjmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460342470540-7t87r3nfljabih6lo6ibtam893hlpjmp</string>
	<key>API_KEY</key>
	<string>AIzaSyCfw9eAnXg_vTkHVFmim1pVgbVEKxZZRzU</string>
	<key>GCM_SENDER_ID</key>
	<string>460342470540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cldc</string>
	<key>PROJECT_ID</key>
	<string>cldc-38e92</string>
	<key>STORAGE_BUCKET</key>
	<string>cldc-38e92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460342470540:ios:ec326ec6de18b26a9558a9</string>
</dict>
</plist>